body {
	font-family: Helvetica;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	color: #005670;
}

a{
	text-decoration: none;
	color: #005670;
	font-style: italic;
}
a:hover {
	font-weight: bold;
}

.sectionarea {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	border: 2px solid #005670;
}

.sectionarea input[type="submit"]{
	margin-left: 3px;
}


.welcome {
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
input {
	border: 2px solid black;
}
input[type="submit"] {
	border: 2px solid black;
	background-color: white;
	padding: 5px;
}
input[type="submit"]:hover {
	border: 2px solid blue;
	padding: 7px;
}
.approve input[type="submit"] {
	background-color: green;
	color: white;
	margin-top: 10px
}
.remove input[type="submit"] {
	background-color: red;
	color: white;
}



#response {
	padding: 20px;
	height: auto;
}